services:
  pg-backup:
    image: prodrigestivill/postgres-backup-local:18
    restart: always
    volumes:
      - ./data/pg-backups:/backups
    depends_on:
      - postgres
    networks:
      - dbs
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_EXTRA_OPTS: -Z6 --schema=public --blobs
      SCHEDULE: '@daily'
      BACKUP_KEEP_DAYS: 3
      BACKUP_KEEP_WEEKS: 2
      BACKUP_KEEP_MONTHS: 2
      # ensure you set this to the database to backup
      POSTGRES_DB:
